# Python
**/__pycache__/
*.py[cod]
*.pyo

# Virtual environments
**/venv/
**/.venv/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

**/.env